version: "3.8"
services:
  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
      # マウントと同時にDB作成
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/my.cnf:/etc/mysql/my.cnf
    restart: always
    platform: linux/arm64/v8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Tokyo
    ports:
      - 3306:3306

  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    volumes:
      - ./backend/api/:/backend/api/
    environment:
      - TZ=Asia/Tokyo
    ports:
      - 8080:8080
    depends_on:
      - db
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/frontend
      - ./frontend/.next:/frontend/.next
    ports:
      - 3000:3000
    environment:
      - TZ=Asia/Tokyo
    depends_on:
      - backend

volumes:
  db_data:
